$primary: #0064D2;
$dark-grey: #2c2c2c;
$black: #333333;

$yellow: #FEDD01;
$yellow-shade: #d1941c;
$yellow-light: #ffd88b;
$orange: #ffcd6c;

$salmon: #ff8a1e;
$salmon-shade: #d97112;

$primary: #FA3CBA;
$primary-shade: #D02D99;

$red: #ed1b33;
$red-shade: #cb1025;

$grey: #9d9d9d;
$grey-shade: #dbdbdb;

$blue-light: #33bedc;
$blue-shade: #1490ab;

$green: #1dca4d;
$green-shade: #15a53d;

$white: #ffffff;

$radius-base: 10px;
$radius-small: 6px;

$font-secondary: "Spartan MB";
$font-base: "Source Sans Pro", sans-serif;

// category card color
$card-blue: #36b3de;
$card-blue-shade: #12a5d8;

$card-green: #44d6b3;
$card-green-shade: #23cfa6;

$card-navy: #6189ef;
$card-navy-shade: #4574ec;

$card-tomato: #d77352;
$card-tomato-shade: #d05a34;

$card-lime: #8fd24c;
$card-lime-shade: #7bca2d;

$card-purple: #a76ae4;
$card-purple-shade: #9850df;

$card-red: #e25f5f;
$card-red-shade: #dd4343;

$card-yellow: #fab837;
$card-yellow-shade: #d1941c;
