.btn {
  box-sizing: border-box;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-bottom: 5px solid transparent;
  background-color: transparent;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  text-align: center;

  &--result {
    padding: 10px 24px;
    background-color: $primary;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    width: 100%;
  }

  &--modal {
    padding: 14px 47px;
    overflow: hidden;
    letter-spacing: 0.08rem !important;

    &::after {
      background-size: 130px;
    }

    &::before {
      background-size: 40px;
    }

    &--green {
      -webkit-text-stroke: 1.5px #555;
      background-color: #676767 !important;
      border-color: #555;
    }

    &--yellow {
      -webkit-text-stroke: 1.5px $primary-shade;
      background-color: $primary !important;
      border-color: $primary-shade;
    }
  }

  &--onboard {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    background-color: $primary;
    color: #fff;
    border: 1px solid $primary;

    &--outlined {
      background-color: $white;
      color: $primary;
      border: 1px solid $primary;
    }

    @media screen and (min-width: 768px) {
      width: 160px;
      height: 40px;
    }
  }

  &--lg {
    padding: 14px 60px;
    -webkit-text-stroke: 1.5px $primary-shade;
    -webkit-text-fill-color: $white;

    paint-order: stroke fill;
    line-height: 37px;
    letter-spacing: 0.08em;

    &:hover {
      background-color: $primary !important;
    }
  }

  &--modal,
  &--lg {
    font-family: $font-button;
    position: relative;
    color: $white;
    font-size: 35px;
    -webkit-text-fill-color: $white;

    &::before,
    &::after {
      position: absolute;
      content: '';
    }

    &::before {
      background-image: url('./../img/highlight-top-left.svg');
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-size: 50px;
      background-repeat: no-repeat;
    }

    &::after {
      background-image: url('./../img/highlight-bottom-right.svg');
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
    }
  }

  &--icon {
    width: 45px;
    height: 45px;
    padding: 0 !important;

    img {
      width: 25px;
      height: 25px;
    }

    @media screen and (min-width: 375px) {
      width: 50px;
      height: 50px;
      padding: inherit;

      img {
        width: 30px;
        height: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      width: 60px;
      height: 60px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  &--words {
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 4px;
    background: #0174ab;
    color: $white;

    &.disabled {
      background-color: $grey !important;
    }

    @media screen and (min-width: 768px) {
      padding: 8px 12px;
    }

    &.clicked {
      background-color: $green;
    }

    &.active {
      background-color: $red;
    }
  }

  &--yellow {
    background-color: $primary;
    border-color: $primary-shade;

    &:hover {
      background-color: $primary-shade;
    }
  }

  &--green {
    background-color: $green;
    border-color: $green-shade;

    &:hover {
      background-color: $green-shade;
    }
  }

  &--red {
    background-color: #9396F5;
    border-color: #7073DF;

    &:hover {
      background-color: #7073DF;
    }
  }

  &--tools {
    &.disabled {
      background-color: $grey-dark;
      border-color: $black;
    }
  }

  &--facebook {
    background-color: $facebook;
    border-color: $facebook-shade;

    &:hover {
      background-color: $facebook-shade;
    }
  }

  &--twitter {
    background-color: $twitter;
    border-color: $twitter-shade;

    &:hover {
      background-color: $twitter-shade;
    }
  }

  &.disabled {
    cursor: none;
    pointer-events: none;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
    cursor: none;
    pointer-events: none;
  }
}

.timer {
  display: flex;
  align-items: center;
  width: 150px;
  height: 45px;
  background-color: $white;
  border-bottom: 5px solid $grey;
  padding: 5px;
  color: $black;

  @media screen and (min-width: 375px) {
    height: 50px;
    width: 160px;
  }

  @media screen and (min-width: 768px) {
    height: 60px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .tooltip--bottom {
    bottom: -20px;
  }

  &__wrapper {
    display: flex;
    background-color: $grey;
    // height: 100%;
    border-radius: 6px;
  }
}

.setting {
  display: none;
  position: absolute;
  content: null;
  right: 15px;
  top: 18px;
  z-index: 1;

  @media screen and (min-width: 375px) {
    top: 15px;
  }

  @media screen and (min-width: 768px) {
    top: 10px;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 55px;

    @media screen and (min-width: 768px) {
      top: 70px;
    }
  }
}

.tooltip {
  display: none;
  position: absolute;
  color: $black;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  background-color: $white;
  padding: 10px;
  border-radius: 4px;
  z-index: 4 !important;
  border: 1px solid $white;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  &--left {
    top: 50%;
    left: -7px;
    transform: translate(-100%, -50%);

    &::before {
      width: 7px;
      height: 14px;
      right: 0;
      top: 50%;
      background-color: $white;
      transform: translate(100%, -50%);
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }

  &--right {
    top: 50%;
    right: -7px;
    transform: translate(100%, -50%);

    &::before {
      width: 7px;
      height: 14px;
      left: 0;
      top: 50%;
      background-color: $white;
      transform: translate(-100%, -50%);
      clip-path: polygon(100% 0, 100% 100%, 0 50%);
    }
  }

  &--top {
    top: -12px;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 4 !important;
    &::before {
      width: 14px;
      height: 7px;
      bottom: 0;
      left: 50%;
      background-color: $white;
      transform: translate(-50%, 100%);
      clip-path: polygon(0 0, 100% 0, 50% 100%);
    }
  }

  &--bottom {
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 4 !important;
    &::before {
      width: 14px;
      height: 7px;
      top: 0;
      left: 50%;
      background-color: $white;
      transform: translate(-50%, -100%);
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }
  }

  &::before {
    position: absolute;
    content: '';
  }
}

.board {
  position: relative;
  border: 1px solid $grey;
  box-sizing: border-box;
  background-color: $white;
  font-weight: bolder;
  font-size: 10px;

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  &__cell {
    border: 1px solid $grey;
    transition: all 0.3s ease-in-out;
    position: relative;
    font-size: 18px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }

    &.hint {
      &::after {
        display: block;
      }
    }

    &::after {
      display: none;
      position: absolute;
      content: '';
      left: 10%;
      top: 10%;
      bottom: 10%;
      right: 10%;
      border-radius: 50%;
      z-index: 100%;
      opacity: 0.5;
      background-color: $green;
    }

    &.select {
      background-color: rgba($color: $primary, $alpha: 0.5) !important;
    }

    &.correct {
      cursor: none;
      pointer-events: none;
    }
  }
}

.words {
  @media screen and (min-width: 768px) {
    flex: 1 0 200px;
    padding: 0 15px;
  }

  @media screen and (min-width: 1024px) {
    flex: 1 0 300px;
    padding: 0 15px;
  }

  &__title {
    color: $black;
    & > p:first-of-type() {
      font-size: 18px;
      font-weight: 700;

      @media screen and (min-width: 768px) {
        font-size: 28px;
        margin-bottom: 5px;
      }
    }

    & > p:last-of-type() {
      font-size: 14px;
      font-weight: 600;

      @media screen and (min-width: 768px) {
        font-size: 18px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    // display: inline-block;
    height: 100px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      overflow-x: hidden;
      height: fit-content;
    }
  }
}

.loader__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: 100000;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.3);
}
